:root{
}
body{ 
    margin: 0;
    font-family: 

}
.navbar{
    background-color: #90e0ef;
    display: block;
    width: 100%;
    height: 10vh;
}
.title{
    color: white;
    display: inline;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 2rem;
    font-weight: 800;
    line-height: 10vh;
}
ul{
    list-style: none;
    margin: 0;
}
.item{
    font-family: 'Montserrat', sans-serif;
    float: right;
    font-size: 1.25rem;
    margin-right: 1.5rem;
    height: 100%;
    line-height: 10vh;
    padding: 0 1rem;
}
.item:hover{
    background-color: #caf0f8;
}

.item a{ 
    text-decoration: none;
    color: black;
}

form{
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: 10px 10px 20px #8d99ae;
    width: 70%;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
}

form > input[type='text'] {
    font-size: 1.25rem;
    line-height: 2rem;
    width: 80%;
}

form > input[type='text']:focus {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

form > h2 {
    font-family: 'Karla', sans-serif;
}

label {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 400;
}

.result {
    background-color: white;
    box-shadow: 10px 10px 20px #8d99ae;
    width: 70%;
    border-radius: 10px;
    padding: 2rem;
    margin: auto;
    z-index: 2;
}

table{
    width: 100%;
   
}

.main {
    font-size: 9rem;
    color: #90e0ef;
}

.weather {
    float: right;
    text-align: right;
    background-color: #e3f6f5;
    padding: 1.5rem;
    border-radius: 10px;
}

.weather-main {
    margin: 0;
}

.minmax {
    font-size: 1.2rem;
    margin: 2rem 0;
}

.desc {
    font-size: 1rem;
}

.img1 {
    top: 0;
    left: 0;
    width: 150px;
    height: 300px;
    position: fixed;
    z-index: -1;
  }
.img2 {
    top: 0;
    right: 0;
    width: 250px;
    height: 350px;
    position: fixed;
    z-index: -1;
  } 